body {
  font-family: 'Manrope', sans-serif;
}

h3 {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
  font-size: 1.25rem;
}

p {
  font-size: 13px;
}

.container-fluid {
  /* margin: 100px; */
}

.box-image {
  text-align: right;
}

.box-text {
  padding: 20px;
}

.img {
  width: 300px;
}


.attribution {
  text-align: center;
  font-size: 0.5rem;
  margin: 25px 0 0 0;
}
