body {
  font-family: 'Manrope', sans-serif;
}

h3 {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

p {
  font-size: 13px;
}

.card {
  margin: 7% 15%;
  background-color: #f0f0f0;
}

.text {
  padding: 10%;
}


.img {
  width: 300px;
  position: relative;
  float: left;
}


.attribution {
  text-align: center;
  font-size: 0.5rem;
  margin: 25px 0 0 0;
}
